.cinemas-wrap {
    display: flex;
    height: 705px;
    overflow-y: hidden;
    margin-bottom: 40px;
    border-bottom: 1px solid #ebebec;
}
.cinemas-tabs {
    border: none;
    display: block;
}
.cinemas-tabs .nav-link {
    border: none;
    padding: 20px;
    margin: 0;
}
.cinemas-tabs-logo {
    min-width: 92px;
    border: 1px solid #ebebec;
    overflow: auto;
    border-bottom: none;
}
.cinemas-tabs-logo-content {
    width: 100%;
    overflow-y: auto;
    height: 100%;
}
.cinemas-tabs-logo-content > .tab-pane {
    border: 1px solid #ebebec;
    border-left: none;
    border-bottom: none;
}
.cinemas-tabs-logo-content > .tab-pane.active {
    display: flex;
    height: 100%;
    width: 100%;
}
.hover--opacity {
    opacity: 0.45;
    transition: all 0.3s;
}
.hover--opacity:hover,
.hover--opacity.active {
    opacity: 1;
}

.img--cinema {
    width: 50px;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}
.cinemas-tabs-logo .nav-link {
    border: none;
    padding: 20px;
    margin: 0;
}
/* cinemas tabs */
.cinema-item {
    display: flex;
}
.cinema-item .cinema-info {
    padding-left: 10px;
    color: #000;
    font-size: 14px;
    overflow: hidden;
}
.cinemas-tabs-cinema {
    width: 30%;
}
.cinemas-tabs-cinema-content {
    width: 70%;
    overflow-y: auto;
    border-left: 1px solid #ebebec;
}



.cinema-item .cinema-name {
    font-size: 14px;
}
.cinema-item .cinema-name span {
    font-weight: 500;
}
.cinema-item .cinema-name .bhd {
    color: #8bc541;
}
.cinema-item .cinema-address {
    display: block;

    font-size: 12px;
    color: #949494;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cinema-item  .cinema-detail {
    color: #fb4226;
    font-size: 12px;
    font-weight: 500;
}

.cinema-film-item {
    padding-bottom: 17px;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 20px;
    position: relative;
}

.border--bottom {
    position: relative;
}

.border--bottom::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: calc(100% - 40px);
    border-bottom: 1px solid rgba(238,238,238,.88);
}

.film-collapse {
    display: flex;
    cursor: pointer;
}
.film-collapse-info {
    padding-left: 15px;
}
.film-collapse-info .film-name {
    font-size: 14px;
    height: auto;
    line-height: 22px;
}
.film-collapse-info .film-time {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
}

.schedules {
    flex-wrap: wrap;
}

.schedules-wrap {
    padding-top: 15px;
}
.schedules-wrap h3 {
    font-size: 16px;
    margin-bottom: 5px;
}
.schedules-wrap .schedules .col-3 {
    padding: 0;
    text-align: center;
}
.schedule-item {
    font-size: 14px;
    padding: 5px 6px;
    text-align: center;
    background-color: rgba(246,246,246,.5);
    border-radius: 7px;
    color: #9b9b9b;
    border: 1px solid #e4e4e4;
    width: calc(100% - 14px);
    cursor: pointer;
    margin-bottom: 10px;
}
.schedule-item .start {
    font-size: 18px;
    font-weight: 500;
    color: #108f3e;
    transition: all 0.3;
}
.schedule-item:hover {
    color: #9b9b9b;
}
.schedule-item:hover .start {
    color: #fb4226;
}

@media screen and (max-width: 992px) {
    .cinemas-wrap {
        flex-direction: column;
    }
    .cinemas-tabs-logo {
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: none;
        overflow: unset;
    }
    .cinemas-tabs-logo-content > .tab-pane {
        border-left: 1px solid #ebebec;
    }
}
@media screen and (max-width: 768px) {
    
    .cinemas-tabs-cinema {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30px;
        border-bottom: 1px solid #ebebec;
    }
    .cinemas-tabs-cinema > .nav-item {
        width: 50%;
    }
    .cinemas-tabs-logo-content > .tab-pane.active {
        display: block;
        border-bottom: none;
    }
    .cinemas-tabs-cinema-content {
        width: 100%;
    }
}
@media screen and (max-width: 768px) { 
    .cinemas-tabs-cinema > .nav-item {
        width: 100%;
    }
}