.header {
    height: 60px;

    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    background: rgba(255, 255, 255, 0.9);

    position: sticky;
    top: 0px;
    z-index: 99;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img--logo {
    width: 50px;
}
.img--user {
    border-radius: 100%;
    width: 30px;
}
.header-nav .nav-item {
    padding: 0 10px;
}
.header-user, .user {
    display: inline-flex;
    align-items: center;
    color: #9b9b9b;
}
.user {
    padding: 0 10px 0 0;
}
.img--user {
    margin-right: 5px;
}
.dropdown--header .btn {
    width: 140px;
    padding-left: 18px;
}
.dropdown--header .img--location{
    width: 14px;
    opacity: 0.7;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}
.dropdown--header .dropdown-menu::-webkit-scrollbar {
    width: 5px;
}
.dropdown--header .dropdown-menu::-webkit-scrollbar-track {
    background: rgb(209, 202, 202);
}
.dropdown--header .dropdown-menu::-webkit-scrollbar-thumb {
    background: rgb(110, 105, 105);
    border-radius: 5px;
}
/* On mobile */
.header-mobile {
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0);
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.mobile-nav {
    width: 500px;
    max-width: 80%;
    height: 100%;
    margin-left: auto;

    background: #fff;
    overflow-y: auto;

    transition: all 0.5s;
    transform: translateX(100%);
}
.header-mobile.active {
    opacity: 1;
    visibility: visible;
    background: rgba(0,0,0,0.7);
    z-index: 10;
}
.header-mobile.active .mobile-nav {
    transform: translateX(0);
}
.mobile-nav .nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    color: #000;
    font-size: 18px;
}
.mobile-nav .nav-item a {
    color: #000;
}
.img--closeMobile {
    width: 20px;
}
.menu-mobile .img--menuMobile {
    width: 25px;
}
.mobile-provinces .provinces-wrap {
    width: 300px;
    max-width: 70%;
    padding: 0 8px;
    max-height: 360px;
    
    transform: translate(-50%, -50%);
    background: rgba(255, 251, 251, 0.9);    
    border-radius: 8px;
    overflow-y: auto;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 11;
}
.mobile-provinces {
    width: 100%;
    height: 100%;
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9); 
}
.mobile-provinces.active {
    display: block;
}
.mobile-provinces a {
    display: block;
    padding: 8px;

    text-align: center;
    font-size: 16px;
    color: #4a4a4a;
}
.mobile-provinces a:not(:last-child) {
    border-bottom: 1px solid #9b9b9b;
}
